
# Created by https://www.gitignore.io/api/terraform

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform/

### Terraform Patch ###
*.tfvars
# End of https://www.gitignore.io/api/terraform

# Created by https://www.gitignore.io/api/packer,visualstudiocode

### Packer ###
# Cache objects
packer_cache/

# For built boxes
*.box

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# End of https://www.gitignore.io/api/packer,visualstudiocode

cookbooks/vendor
bypass_winrm_filecopy
*.zip

output-virtualbox-iso/
output-parallels-iso/